.header-right {
  position : relative;
  top : 5px;
}

.fill-space {
  flex: 1 1 auto;
}
  .features {
    margin-top: 2%;
    margin-inline: 28%;
    display: inline-flex;
    margin-left: 25%;
    
}

.example-card{
    width: 200px;
    margin-left: 10%;
    
}

/* .example-card : hover{
  cursor:grab;
} */