<div id="header" style="position:absolute; top:0px; left:0px; right:0px;overflow:hidden;" *ngIf="isAdmin"> 
  <app-header-nav></app-header-nav>
</div> 
<div id="header" style="position:absolute; top:0px; left:0px; right:0px;overflow:hidden;" *ngIf="!isAdmin"> 
  <app-admin-header-nav></app-admin-header-nav>
</div>
<div style="width: 100%" > 
  <div style="float:left; width: 18%;" class="announce" id = "formbtn">
   <form [formGroup]= "announcementForm">
   <mat-form-field appearance="fill">
     <mat-label>Event Title</mat-label>
     <input matInput formControlName="eventTitle">
   </mat-form-field>
   <mat-form-field appearance="fill">
     <mat-label>Even Catogery</mat-label>
     <mat-select (selectionChange)="selectedValue($event)">
       <mat-option id="evnt" value="Event">Event</mat-option>
       <mat-option id="disclaimer" value="Disclaimer">Disclaimer</mat-option>
     </mat-select>
   </mat-form-field>
   <mat-form-field appearance="fill">
     <mat-label>Event Description</mat-label>
     <textarea matInput formControlName="eventDesc"></textarea>
   </mat-form-field>
   </form>
   <button mat-raised-button color="primary" [disabled]="!announcementForm.valid" (click)="onSubmit()">Create Announcement</button>
 </div>

 <div style="float:right; width: 80%;">
   <app-announcement></app-announcement>
 </div>

</div>
<div id="footer" style="position:absolute; bottom:0px; height:200px; left:0px; right:0px; overflow:hidden;"> 
  <app-footer></app-footer>
</div>

