<div id="header" style="position:absolute; top:0px; left:0px; right:0px;overflow:hidden;" *ngIf="isAdmin"> 
  <app-header-nav></app-header-nav>
</div> 
<div id="header" style="position:absolute; top:0px; left:0px; right:0px;overflow:hidden;" *ngIf="!isAdmin"> 
  <app-admin-header-nav></app-admin-header-nav>
</div>
<mat-accordion >
 <div class="announcement_style">
  <h1>Announcements:</h1>
  <mat-expansion-panel *ngFor = "let annoucement of annoucements$ ">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{annoucement.announcementTitle}}
      </mat-panel-title>
      <mat-panel-description>
        {{annoucement.eventDescription}}
      </mat-panel-description>
    </mat-expansion-panel-header>
     <p>{{annoucement.venue}}</p>
  </mat-expansion-panel>
 </div>
  </mat-accordion>
  <div id="footer" style="position:absolute; bottom:0px; height:200px; left:0px; right:0px; overflow:hidden;"> 
    <app-footer></app-footer>
  </div>