<mat-accordion>
    <!-- <mat-expansion-panel *ngFor="Let ancmt of ancmts$ | async" class="ancmt_panel">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <p>{{ancmt.title}}</p>
        </mat-panel-title>
    </mat-expansion-panel-header>

    </mat-expansion-panel>
 -->
 <div class="announcement_style">
  <h1>Announcements:</h1>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Valentines Contest:
          </mat-panel-title>
          <mat-panel-description>
            Pay the rent by February 5th to enter the contest
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Giveaway includes heart shaped cookies and brownies.</p>
      </mat-expansion-panel>
      <span class="space-between"></span>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Food Truck Friday
          </mat-panel-title>
          <mat-panel-description>
            Twisted Tikka
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Twisted Tikka available from 5:00 to 8:00 PM at Stoneridge Apartments</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tornado Watch Alert
          </mat-panel-title>
          <mat-panel-description>
            Stay Safe
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>THE NATIONAL WEATHER SERVICE HAS ISSUED TORNADO WATCH 545 IN EFFECT UNTIL 5 PM EDT THIS AFTERNOON FOR THE FOLLOWING AREAS IN FLORIDA</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Pet Appreciation Day
          </mat-panel-title>
          <mat-panel-description>
            Free pet goodie bag!Dogs and Cats
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>One Treat bag per Registered Pet
          Quantities limited</p>
      </mat-expansion-panel>

 </div>
  </mat-accordion>
