<mat-toolbar class="home-toolbar">
  <span style="margin-top: 13px;">
    <a routerLink="/home">
      <img class="home-banner" src="assets/logo1.png">
    </a>
  </span>
  <span class="fill-space"></span>
  <span class="header-right">
      
      <div class="button-right-align toolbarBtn">
        <a mat-raised-button color="basic" routerLink="/login">Login</a>
      </div> 
      <div class="button-right-align toolbarBtn" >
          <a mat-raised-button color="basic" routerLink="/signup">Sign up</a>
      </div> 
      
  </span>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="bott">
  <my-app></my-app>
</div>

