mat-grid-tile {
    
    height: 100%;
  }
  
  mat-expansion-panel {
    width: 700px;
  }
  
  h1 {
    position: absolute;
    top: 0px;
  }
  
 
  .mat-success {
    background-color: #4caf50;
    color: #fff;
  }

  .announce{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2%;
  }
  
  .column {
    float: left;
    width: 70%;
    background: lightblue;
   
  }

  .columnOne {
    float: left;
    width: 20%;
    background-color: white;
  }

  .container{
    overflow-y: scroll;
  }
  
  
  /* Clear floats after the columns */
  .row {
    content: "";
    display: table;
    clear: both;
     background: lightblue;
    
  }

  .lost-items{
      margin: 30px;
  }

  h1{
      position: relative;
      font-size: 20px;
  }