<div id="header"  *ngIf="isAdmin == 'user'"> 
  <app-header-nav></app-header-nav>
</div> 
<div id="header"  *ngIf="isAdmin == 'admin'"> 
  <app-admin-header-nav></app-admin-header-nav>
</div>
<div class="container">
    <div class="row">
        <div class="columnOne">
        <div class="lost-items">
            <div  class="announce">
                <form [formGroup]= "lostAndFoundForm">
                <mat-form-field appearance="fill">
                  <mat-label>Request Type</mat-label>
                  <mat-select formControlName="requestType" (selectionChange)="selectedRequestType($event)">
                    <mat-option value="lost">LOST</mat-option>
                    <mat-option value="found">FOUND</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Item Type</mat-label>
                  <mat-select formControlName="itemType" (selectionChange)="selectedLostType($event)">
                    <mat-option value="jewellery">Jewellery</mat-option>
                    <mat-option value="book">Book</mat-option>
                    <mat-option value="bag">Bag</mat-option>
                    <mat-option value="other">Other</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Description</mat-label>
                  <textarea matInput formControlName="desc"></textarea>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Additional Details</mat-label>
                    <textarea matInput formControlName="details"></textarea>
                  </mat-form-field>
                </form>
                <button mat-raised-button color="primary" [disabled]="!lostAndFoundForm.valid" (click)="onSubmit()">Create Request</button>
              </div>
        </div>
        </div>

      <div class="column"> 
          <div class="lost-items">
            <h1>Found Request</h1> 
                 
            <table mat-table [dataSource]="datasourceFound" class="mat-elevation-z8">

              <ng-container matColumnDef="lost_type">
                <th mat-header-cell *matHeaderCellDef> Found Item Name </th>
                <td mat-cell *matCellDef="let element"> {{element.found_type}} </td>
              </ng-container>

              <ng-container matColumnDef="CreatedAt">
                <th mat-header-cell *matHeaderCellDef> Found At </th>
                <td mat-cell *matCellDef="let element"> {{ element.CreatedAt | date: "yyyy-MM-dd HH:mm" }} </td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumnsFound"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsFound;"></tr>
      
            </table>
      
            <mat-paginator #paginator
            [pageSize]="2"
            [pageSizeOptions]="[2, 5, 10, 25, 100]">
            </mat-paginator>
            
          </div>
      </div> 
           
      <div class="column">
        <div class="lost-items">
          <h1> Lost Request</h1>
          
          <table mat-table [dataSource]="datasourceLost" class="mat-elevation-z8">

            <ng-container matColumnDef="lost_type">
              <th mat-header-cell *matHeaderCellDef> Lost Item Name </th>
              <td mat-cell *matCellDef="let element"> {{element.lost_type}} </td>
            </ng-container>

          
             <ng-container matColumnDef="CreatedAt">
              <th mat-header-cell *matHeaderCellDef> Found At </th>
              <td mat-cell *matCellDef="let element"> {{ element.CreatedAt | date: "yyyy-MM-dd HH:mm" }} </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumnsLost"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsLost;"></tr>
    
          </table>
    
          <mat-paginator #paginator
          [pageSize]="2"
          [pageSizeOptions]="[2, 5, 10, 25, 100]">
          </mat-paginator>
    
      </div>
      </div>
  </div>


  <div id="footer" style="position:absolute; bottom:0px; height:200px; left:0px; right:0px; overflow:hidden;"> 
    <app-footer></app-footer>
  </div>
  